---
import Layout from '../layouts/Layout.astro';
import Gallery from '../components/Gallery.astro';

const galleryItems = [
  'bookings-calendar.png',
  'class-schedule.png',
  'famefit-billing.png',
  'famefit-cal.png',
  'famefit-measure.png',
  'famefit-new-week.png',
  'famefit-overage-notification.png',
  'famefit-plan.png',
  'famefit-services.png',
  'famefit-services-used.png',
  'famefit-userdash.png',
  'plan-activate.png',
  'therapist-all.png',
  'therapist-booking1.png',
  'therapist-booking2.png',
  'therapist-booking3.png',
  'therapist-filtered.png',
  'training.png',
  'week-view.png',
].map(img => ({
  src: `images/famefitness/${img}`,
  href: `images/famefitness/${img}`,
}));
---

<Layout title="Fame Fitness - Josh Ribakoff">
  <h1>Fame Fitness</h1>
  <Gallery items={galleryItems} maxWidth="500px" />
</Layout>

<style>
  h1 {
    margin-bottom: 1.5rem;
  }
</style>
