---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Josh Ribakoff">
  <div>
    <h1>Hi, I'm Josh.</h1>
    <h2>
      I am a software engineer specialised in both front-end and back-end web
      development.
    </h2>
    <p>
      15 years fullstack experience including open source, startups, and top
      tech companies on large teams at scale. Experienced in both frontend and
      backend as well as with video streaming, real time distributed systems,
      graphics programming, scheduling software, AST tools, safety critical
      software, complex apps, finance, healthcare, and traditional software.
      Passionate about testing and functional programming.
    </p>
    <p>
      <strong>Skills:</strong> Typescript, Javascript, React, Redux, GraphQL,
      Apollo, Webpack, Babel, NodeJS, RxJS, Websockets, Webworkers, WebRTC,
      WebGL/Canvas Libraries, Algorithms, Data Structures, Styleguidist,
      Cypress, Selenium, Storybook, Jest, Enzyme{" "}
      <strong>Past:</strong> PHP, DevOps, Backend, Angular, MongoDb, MySql
    </p>
    <hr />
    <div class="social-links">
      <a href="https://www.youtube.com/c/JoshRibakoff">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://twitter.com/joshribakoff">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://github.com/joshribakoff">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/josh-ribakoff-9a5948152/">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
</Layout>

<style>
  .social-links {
    display: flex;
    gap: 0.5em;
  }

  .social-links a {
    margin: 3px;
  }

  .social-links .fa-youtube {
    color: #ff0000;
  }

  .social-links .fa-twitter {
    color: #1da1f2;
  }

  .social-links .fa-github {
    color: #000000;
  }

  .social-links .fa-linkedin {
    color: #0077b5;
  }
</style>
